/* Google Font */
body{
    margin:0;
    font-family:'Barlow TT',sans-serif;
    background:#f8f9fa;
}

/* Social Section */

#social{
    background:linear-gradient(135deg,#1d3557,#457b9d);
    padding:90px 20px;
    text-align:center;
}

#social h4{
    color:#ffc107;
    font-weight:bold;
    letter-spacing:2px;
}

#social h1{
    color:#fff;
    font-weight:800;
    margin-top:15px;
}

#social p{
    color:#ddd;
    margin-top:20px;
    font-size:18px;
}

/* Icons */

.social-icons{
    margin-top:40px;
}

.social-icons a{
    display:inline-flex;
    justify-content:center;
    align-items:center;

    width:70px;
    height:70px;

    margin:10px;

    background:white;
    color:#1d3557;

    border-radius:50%;
    text-decoration:none;

    font-size:28px;

    transition:.4s;
}

.social-icons a:hover{
    background:#ffc107;
    color:white;
    transform:translateY(-8px) scale(1.1);
    box-shadow:0 10px 10px 


}